<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon_io/site.webmanifest">

    <title>Lenguist - Logika</title>

    {% if theme == "light" %}
    <link rel="stylesheet" href="/static/css/light-theme.css">
    {% else %}
    <link rel="stylesheet" href="/static/css/dark-theme.css">
    {% endif %}

</head>
<style>
    body {
        font-family: "{{ font }}";
    }
    .sexy_look {
        display: block;
    }
    .header {
        width: 100%;
        margin-left: 0px !important;
    }
    .textos {
        margin-left: 10px;
    }
    @media (max-width: 1000px) {
        .burger {
            margin-right: -10px;
        }
        .drop:hover .baton {
            right: 24px !important;
        }

    }
    @media (max-width: 800px) {
        .burger {
            margin-right: 10px;
        }
    }
</style>
<body>
    <header>
        <nav>
            <div class="d-flex justify-content-between align-items-center px-md-4 mb-3 header border-bottom shadow-sm new_header">
                <h5 class="my-0 font-weight-normal">Lenguist - ENG.</h5>
                <nav class="my-2 my-md-0 d-flex flex-row ml-auto">
                    <div class="drop">
                        <button type="button" class="btn btn-secondary burger" onclick="toggleMenu()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"></path>
                            </svg>
                        </button>
                        <div class="baton">
                            <a class="p-2 text-dark" href="/home">Home</a>
                            <a class="p-2 text-dark" href="/decks">Decks</a>
                            <a class="p-2 text-dark" href="/learning">Learning</a>
                            <a class="btn btn-warning creates" href="/deck">Create</a>
                            {% if user.is_authenticated %}
                                <a class="btn btn-primary" href="/account" onclick="openInNewWindow(this.href); return false;">{{ user.username }}</a>
                            {% else %}
                                <a class="btn btn-primary" href="/singing" onclick="openInNewWindow(this.href); return false;">Sign In</a>
                            {% endif %}
                        </div>
                    </div>
                </nav>
            </div>
        </nav>
    </header>
    <main>
        <div class="main-content2 sexy_look">
            <div style="margin-bottom: 25px;">
                <h2 class="text-right"><i>- Logika school</i></h2> <!-- •— -->
            </div>
            <h1 class="text-center">• Lenguist</h1>
            <div style="margin-bottom: 25px;">
                <div class="card">
                    <h5 class="card-header beckground1">Information card Lenguist</h5>
                    <div class="card-body beckground2">
                        <h5 class="card-title">Main objective:</h5>
                        <ul>
                            <li>Lenguist aims to teach languages (English and Ukrainian) through the creation of language cards by users. Users can create their own word and phrase cards for a more personalized learning experience.</li>
                        </ul>
                        <h5 class="card-title">Interface and Design:</h5>
                        <ul>
                            <li>Lenguist has a user-friendly and intuitive interface with simple forms for creating and editing cards. The main emphasis is on functionality and user-friendliness.
                            </li>
                        </ul>
                        <h5 class="card-title">Content:</h5>
                        <ul>
                            <li>Content is generated by users through the creation of language cards. This allows you to have a large amount of diverse content that adapts to the needs of each user.
                            </li>
                        </ul>
                        <p class="card-text">Lenguist is a platform for learning languages which you create.</p>
                    </div>
                </div>
            </div>
            <div style="margin-bottom: 25px;">
                <ul class="list-group">
                    <li class="list-group-item active" aria-current="true">— Functionality:</li>
                    <li class="list-group-item beckground2">Registration and Authorization: Users can register, log in, and manage their accounts.</li>
                    <li class="list-group-item beckground2">Card Creation: Users can create cards with language pairs (English-Ukrainian).</li>
                    <li class="list-group-item beckground2">Learning: Users can use their cards for learning by choosing different modes (quizzes, true/false, input answers).</li>
                    <li class="list-group-item beckground2">Security: IP addresses and browser information are stored to improve security and analysis.</li>
                </ul>
            </div>
            <h1 class="text-center">• Logika school</h1>
            <div style="margin-bottom: 25px;">
                <div class="card">
                    <h5 class="card-header beckground1">Information card Logika school</h5>
                    <div class="card-body beckground2">
                        <h5 class="card-title">Main objective:</h5>
                        <ul>
                            <li>Logika School English is aimed at teaching English to children. They offer interactive courses, video tutorials, and playful learning methods.</li>
                        </ul>
                        <h5 class="card-title">Interface and Design:</h5>
                        <ul>
                            <li>Logika School English has a professional and modern design with a focus on visual appeal. The interface is adapted for easy access to training materials and courses.
                            </li>
                        </ul>
                        <h5 class="card-title">Content:</h5>
                        <ul>
                            <li>The content is developed by experts in the field of English. The courses are structured and aimed at achieving specific learning objectives.
                            </li>
                        </ul>
                        <p class="card-text">Logika School is aimed at professional language learning.</p>
                    </div>
                </div>
            </div>
            <div style="margin-bottom: 25px;">
                <ul class="list-group">
                    <li class="list-group-item active" aria-current="true">— Functionality</li>
                    <li class="list-group-item beckground2">Registration and Authorization: Users can register and access various courses.</li>
                    <li class="list-group-item beckground2">Online Courses: Users can take various English language courses.</li>
                    <li class="list-group-item beckground2">Video Lessons: Access to video lessons and materials that can be watched at the user's convenience.</li>
                    <li class="list-group-item beckground2">Forum and Support: Users can discuss questions in forums and receive support from instructors.</li>
                </ul>
            </div>
            <div class="card">
            <h5 class="card-header beckground1">— Complete:</h5>
            <div class="card-body beckground2">
                <p class="card-text">
                    Both sites provide unique opportunities for learning and development. <b>Lenguist</b> offers personalized language learning through <u>user-generated language cards</u>, while <i>Logika School</i> focuses on structured online courses in a variety of disciplines.<br>
                </p>
                <p>
                    If you're looking for a platform to learn <b>programming, math, or other disciplines</b>, feel free to visit <a href="https://logikaschool.com/english_courses" target="_blank"><b><i>Logika School English</i></b></a> and check out their courses and materials. They can be a great addition to your educational journey!<br>
                </p>
                <ul>
                    <li><h8>Main page on Logika School ><br></h8></li>
                </ul>
                <a href="https://logikaschool.com/" target="_blank" class="btn btn-primary" style="margin-top: 10px;">Logika main</a>
            </div>
        </div>
    </main>
    <div class="main-content1" style="padding-top: 10px; margin-top: 25px; border-top: 1px solid #454545;">
        <footer class="footer-style">
        <div class="row">
            <div class="col-12 col-md-2" style="margin-left: 100px;">
                <h5>Help to study</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="/logika">Logika school</a></li>
                    <li><a class="text-muted" href="/tutorial">Tutorial</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-2" style="margin-left: 100px;">
                <h5>About us</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="/whoweare">Who we are</a></li>
                    <li><a class="text-muted" href="whywe">Why we</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-2" style="margin-left: 100px;">
                <h5>Contact & Policy</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="/contact">Contact us</a></li>
                    <li><a class="text-muted" href="/privat_policy">Privat Policy</a></li>
                </ul>
            </div>
        </div>
    </footer>
    </div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>
